body{
    background-color: #E5E5E5;
    font-family: 'Courier New', Courier, monospace;
}

.main{
    background-color: rgba(37,63,56,0.8);
    margin: 2% 10%;
    border-radius: 15px;
}
header{
    padding: 1rem;
    width: 90%;
    margin: 0px 12px;
    
}
.logo{
    color: #807575;
    font-family: "Zhi Mang Xing",monospace;
    font-size: 34px;
    float: left;
}
.titles{
    padding-left: 55%;
}
.titles ul li{
    display: inline;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.titles ul li a{
    text-decoration: none;
    color: white;
}
hr.bar{
    border: 4px solid white;
    margin: 0.2%;
    border-radius: 10px;
   
}
.content{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    
}
.left{
    width: 80%;
    padding: 2rem;
}
.left h1{
    font-family:"Copperplate Gothic", monospace;
    font-size: 25px;
    text-transform: uppercase;
}
.left p{
    font-family: "Times New Roman",monospace;
    font-size: 14px;
    color: #1C3D31;
}
#info{
    font-size: 20px;
    align-content: center;
    font-family: "Red Hat Display";
    padding: 5px 20px;
    color: white;
    position: relative;
    left: 20%;
}

.fa{
    padding: 0.2rem;
    position: relative;
    top: 11px;
}
.right img{
    width: 230px;
    height: 440px;
    border: 8px solid #45598B ;
    border-radius: 40%;
    position: relative;
    right: 20%;
}
.lside{
    margin-right: 10%;
    width: 30%;
}
.rsidepart{
    width: 40%;
}
.titles1{
    font-family: "Red Hat Display";
    font-size: 22px;
    color: white;
    padding-left: 10%;
}
#mm{
    margin-bottom: 10px;
}
#name1, #email1, #message{
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 4px;
    margin: 5px;
}
#submit1,#submit2,#submit3{
    margin: 5px 30%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 5px 20px;
    background-color: #082E2E;
    color: white;
}
.lsidepart{
    
    font-size: 20px;
    font-family: "Red Hat Display";
    color: rgba(214, 219, 210, 0.836);
    margin: 0% 2%;
    width: 50%;
    text-align: right;
}
.rside{
    
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 10px 20px;
    color: white;
    display: flex;
}
.rightp img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    right: 20%;
    bottom: 20px;
    z-index: 1;
    filter:brightness(0.4);
}
.leftp{
    margin-left: 40%;
}
.left1{
    width: 40%;
    z-index: 2;
}
.left1 h1{
    font-family: "Ribeye Marrow";
    font-size: 25px;
    color: aliceblue;
}
.left1 p{
    color: aliceblue;
    font-family: "Ribeye Marrow";
    font-size: 18px;
}
.articles{
    width: 40%;
    background-color:rgba(40, 66, 84, 66%);
    border-radius: 20px;
    margin: 2%;
    padding: 3%;
    position: relative;
    right: 12%;
    z-index: 4;
}

#message1{
    border-bottom: 1px solid white;
    border-radius: 10%;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 4px;
    margin: 5px;
}
.articles h1{
    font-family: "Red Hat Display";
    color: #B96363;
}
.articles p{
    font-family: "Red Hat Display";
}
.articles h2{
    font-family: "Red Hat Display";
    color: #78BD20;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 4px 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
    position: relative;
    bottom: 20px;
    left: 60px;
    width: 60px;
  }
  
  .comment{
      background-color: white;
      width: 50%;
      border-radius: 10px;
      margin: 0% 10% 2% 5%;
  }
  #visitors{
      color: teal;
      font-size: 18px;
      margin: 20px;
  }
 
  .post{
      color: floralwhite;
  }
  .post1{
      color: red;
      position: relative;
      top: 13px;
      left: 5px;
  }
  #subscr{
      position: relative;
      top: 13px;
      left: 20px;
  }
  
  .admin{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.9);
      z-index: 10;
      position: absolute;
      top: 0%;
      display: none;
      justify-content: center;
      align-items: center;
  }
  .admin-centents{
      width: 500px;
      height: 300px;
      background-color: white;
      border-radius: 4px;
      
  }
  .admin-input{
      width: 200px;
      display: block;
      margin: 15px auto;
      padding: 10px;
      font-size: 14px;
      border-radius: 4px;
  }
  .admin-btn{
      margin-left: 35%;
      padding: 5px 10px;
      font-size: 18px;
      cursor: pointer;
  }
  .admin-h{
      color: white;
  }
  #close{
    font-family: sans-serif;
    color: red; 
    position: relative;
    left: 300px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 50%;
  }
  #name2,#message2{
    width: 80%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 4px;
    margin-bottom: 4px;
  }
  input,button{
    font-family: sans-serif;
}
.main-div{
    width: 20%;
    margin: 0px auto;
    padding: 20px;
   
}
.main-div input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}
.main-div button{
    background: #5d8ffc;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%; 
}
.admin_view{
 display: flex;
}

  
