body{
    background-color: #E5E5E5;
}

.main{
    background-color: rgba(37,63,56,0.8);
    margin: 2% 10%;
    border-radius: 15px;
}
header{
    padding: 1rem;
    width: 90%;
    margin: 0px 12px;
    
}
.logo{
    color: #807575;
    font-family: "Zhi Mang Xing",monospace;
    font-size: 34px;
    float: left;
}
.titles{
    padding-left: 55%;
}
.titles ul li{
    display: inline;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
}
.titles ul li a{
    text-decoration: none;
    color: white;
}
hr.bar{
    border: 4px solid white;
    margin: 0.2%;
    border-radius: 10px;
   
}
.content{
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    
}
.left{
    width: 80%;
    padding: 2rem;
}
.left h1{
    font-family:"Copperplate Gothic", monospace;
    font-size: 25px;
    text-transform: uppercase;
}
.left p{
    font-family: "Times New Roman",monospace;
    font-size: 14px;
}
#info{
    font-size: 20px;
    align-content: center;
    font-family: "Red Hat Display";
    padding: 5px 20px;
    color: white;
    position: relative;
    left: 20%;
}

.fa{
    padding: 0.2rem;
    position: relative;
    top: 11px;
}
.right img{
    width: 230px;
    height: 440px;
    border: 8px solid #45598B ;
    border-radius: 40%;
    position: relative;
    right: 20%;
}
.lside{
    margin-right: 10%;
    width: 30%;
}
.rsidepart{
    width: 40%;
}
.titles1{
    font-family: "Red Hat Display";
    font-size: 22px;
    color: white;
    padding-left: 10%;
}
#mm{
    margin-bottom: 10px;
}
#name1, #email1, #message{
    width: 100%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 4px;
    margin: 5px;
}
#submit1{
    margin: 5px 30%;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 5px 20px;
    background-color: #082E2E;
    color: white;
}
.lsidepart{
    
    font-size: 20px;
    font-family: "Red Hat Display";
    color: rgba(214, 219, 210, 0.836);
    margin: 0% 2%;
    width: 50%;
    text-align: right;
}
.rside{
    
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 10px 20px;
    color: white;
    display: flex;
}
.rightp img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    right: 20%;
    bottom: 20px;
    z-index: 1;
    filter:brightness(0.4);
}
.leftp{
    margin-left: 40%;
}
.left1{
    width: 40%;
    z-index: 2;
}
.left1 h1{
    font-family: "Ribeye Marrow";
    font-size: 25px;
    color: aliceblue;
}
.left1 p{
    color: aliceblue;
    font-family: "Ribeye Marrow";
    font-size: 18px;
}
.articles{
    width: 40%;
    background-color:rgba(40, 66, 84, 66%);
    border-radius: 20px;
    margin: 2%;
    padding: 3%;
    position: relative;
    right: 12%;
    z-index: 4;
}

#message1{
    border-bottom: 1px solid white;
    border-radius: 10%;
    font-size: 20px;
    font-family: "Red Hat Display";
    padding: 4px;
    margin: 5px;
}
.articles h1{
    font-family: "Red Hat Display";
    color: #B96363;
}
.articles p{
    font-family: "Red Hat Display";
}
.articles h2{
    font-family: "Red Hat Display";
    color: #78BD20;
}
.open-button {
    background-color: #555;
    color: white;
    padding: 4px 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.8;
    position: relative;
    bottom: 20px;
    left: 60px;
    width: 60px;
  }
  .form-popup {
    display: none;
    position: fixed;
    bottom: 30%;
    right: 30%;
    border: 3px solid #082E2E;
    border-radius: 20px;
    z-index: 9;
  }
  .form-container {
    max-width: 300px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
  }
  .form-container input[type=text], .form-container input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: rgba(218, 220, 221, 0.66);
  }
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 6px 8px;
    margin-bottom:10px;
    border: none;
    opacity: 0.8;
  }
  .form-container .cancel {
    background-color: rgb(252, 118, 9);
    color: white;
  }
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  .comment{
      background-color: white;
      width: 40%;
      border-radius: 10px;
      margin: 0% 10% 2% 5%;
  }
  .comment h1{
      color: teal;
      font-size: 18px;
      margin: 20px;
  }
  .comment p{
      font-size: 16px;
      margin: 20px;
  }
  .post{
      color: floralwhite;
  }
  .post1{
      color: red;
  }
  #subscr{
      position: relative;
      top: 13px;
      left: 20px;
  }